{% extends 'base.html' %}

{% block css_js_links %}
    <link rel="stylesheet" href="{{ url_for('posts.static', filename = 'css/style.css') }}">
{% endblock %}

{% block title %}
    <title>Posts Page | My APP</title>
{% endblock %}

{% block title_content %}
    new Posts Page
{% endblock %}

{% block content %}
    <div>
        name = {{ name }}
    </div>
    <div>
        mail = {{ mail }}
    </div>
    <form action="{{ url_for('posts.new_posts') }}" method="POST">
        {% for field in form %}
            <div>
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit">send</button>
    </form>
{% endblock %}